*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Header  */
.header {
    max-height: 350px;
    background-image: linear-gradient(
        to right,
        rgb(236 98 6 / 98%),
        rgb(5 3 0 / 83%)),
      url(../Dinner/images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
  
.header__navbar {
    height: 108px;
    position: relative;
}
  
.header__contact {
    height: calc(350px - 108px);
}
  
.header__contact p {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    color: #fff;
    text-transform: capitalize;
}
  
.header__contact p a {
    color: #ff6600;
    font-weight: 600;
    font-size: 18px;
}
  
.header__contact p i {
    font-size: 14px;
}
  
.header__navbar .navbar-brand {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
  
.header__navbar-bar {
    gap: 20px;
}
  
.header__navbar-search {
    height: 46px;
    width: 240px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
}
  
.header__navbar-search form,
.header__navbar-search form input {
    height: 100%;
    width: 100%;
}
  
.header__navbar-search form input {
    border-radius: 10px;
    border: none;
    padding: 0 6px;
    font-size: 16px;
}
  
.header__navbar-search form button {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
  
.header__navbar-nav i,
.header__mode-control i {
    font-size: 24px;
}
  
.header__mode-control i {
    transform: rotate(-20deg);
}
  
.header__navbar-nav i {
    cursor: pointer;
}
  
.header__navbar .header__navbar-collapse {
    justify-content: flex-end;
    gap: 10px;
    flex-basis: 0;
}
  
.header__nav .nav-link {
    font-size: 16px;
    color: #fff;
}
  
.header__nav .nav-link:hover {
    color: #ff6600;
}
  
.header__nav .nav-link.active {
    color: #ff6600;
}
  
.header__navbar .navbar-toggler {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}
  
.header__navbar-more {
    flex: 3;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10px;
}

.header .modal-header .btn-close {
    padding: 1rem;
    background-color: #ff6600;
    margin-right: -700px;
}

.header .modal {
    background: rgb(6 3 0 / 77%);
}

.header .modal-content {
    background: rgb(6 3 0 / 0);
    width: 100%;
    height: 100%;
    border: transparent solid 1px;
}

.header .modal-body a {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 1rem;
}

.header .modal-header .btn-close {
    opacity: 1;
}

.header .modal-body a:hover {
    color: #fe6a03;
    transition: all 0.5s;
}

/* Banner  */
.banner {
    height: 700px;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
      url(../Dinner/images/banner1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.banner__info {
    max-width: 600px;
    padding-top: 200px;
    text-align: left;
}
  
.banner__info h2 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0;
}
  
.banner__info p {
    font-size: 16.8px;
    line-height: 26.8px;
    margin: 38px 0;
    font-weight: 300;
}
  
.banner__info .button.button-transparent.button__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #fff;
}
  
.banner__info .button.button-transparent.button__banner:hover {
    background-color: #fff;
    color: #ff6600 !important;
}

/* About Us  */
.aboutUs{
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutUs .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.aboutUs__item .aboutUs__header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.aboutUs__item .aboutUs__header h2 {
    text-transform: none;
}
  
.aboutUs__item p:not(p.title-heading) {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
    font-weight: 400;
} 

/* Info  */
.info__item-bg {
    background-image: url("../Dinner/images/banner3.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
  
.info__item-bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 15, 19, 0.46);
}
  
.info .info__item-right {
    background-color: #ff6600;
    padding: 64px 72px;
    min-height: 600px;
}
  
.info__item-right > p {
    font-size: 18px;
    line-height: 28px;
    color: #ffdfc9;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
  
.info__item-right-header p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    font-family: "Pacifico", cursive;
}
  
.info__item-right-header h2 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin: 0;
}
  
.info__icon {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 0.6rem;
    font-size: 22px;
    color: #ff6600;
    display: grid;
    place-items: center;
}
  
.info__icon i {
    transition: all 0.3s ease-in-out;
}
  
.info__item-right-item:hover .info__icon i {
    color: #ffc600;
}
  
.info__item-right-item > a {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    color: #000;
    text-decoration: none;
}
  
.info__item-right-item > p {
    font-size: 16px;
    line-height: 26px;
    color: #ffdfc9;
}


/* Menu  */
.menu{
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.menu .menu-header{
    text-align: center;
}

.menu .menu-header p{
    color: #fe6a03;
    font-size: 1.5rem;
    padding-top: 3rem;
    font-family: 'Pacifico', cursive;
}

.menu .menu-header h2{
    font-size: 2.5rem;
    line-height: 1rem;
    margin-bottom: 2rem;
    color: #000;
}

.menu .menu-content .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.menu .menu-content .row .col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.menu .menu-content .row .col .item .menu__img{
    position: relative;
}

.menu .menu-content .menu__img img{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    -webkit-border-radius: 6px;
    max-width: 100%;
    height: auto;
}

.menu .menu-content .row .menu__text{
    opacity: 1;
    transition: all 0.4s;
    left: 20px;
    bottom: 0;
    width: 95%;
    position: absolute;
    color: #fff;
    transform: translate3d(0, 10%, 0);
}

.menu .menu-content .menu__text a{
    text-decoration: none;
}

.menu .menu-content .menu__text h3{
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.menu .menu-content .menu__text h4{
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}

.menu .menu-content .menu__text span{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffc600
}

/* Feature */
.feature {
    background: #fefefe;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
.feature__item-header {
    gap: 30px;
}
  
.feature__item {
    padding: 40px;
    border: thin solid #eee;
    border-radius: 6px;
    box-shadow: 0 25px 98px rgba(0, 0, 0, 0.03);
}
  
.feature__item-header .feature__item-header-icon {
    width: 70px;
    height: 70px;
    background-color: rgba(130, 115, 252, 0.05);
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-size: 24px;
    color: #ff6600;
    transition: all 0.3s ease-in-out;
}
  
.feature__item-header a {
    display: inline-block;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}
  
.feature__item-header a:hover {
    color: #ff6600;
}
  
.feature__item:hover .feature__item-header-icon {
    background-color: #ff6600;
}
  
.feature__item-header .feature__item-header-icon i {
    transition: all 0.3s ease-in-out;
}
  
.feature__item:hover:hover .feature__item-header-icon i {
    color: #fff;
}
  
.feature__item-header .feature__item-text p {
    font-size: 16.8px;
    line-height: 26.8px;
    color: #161c2db3;
}
  
.feature__item > p {
    font-size: 16.8px;
    line-height: 26.8px;
    color: #161c2db3;
}


/* Middle  */
.middle {
    background-image: url("../Dinner/images/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
  
.middle::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(16, 15, 19, 0.66);
}
  
.middle__top {
    padding: 48px 0;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
}
  
.middle__top h2 {
    --font-height: 4.6rem;
    font-size: 46px;
    line-height: 56px;
}
  
.middle__buttons {
    gap: 20px;
}
  
.middle__top .button.button-transparent.button__banner:hover {
    background-color: #fff;
    color: #ff6600 !important;
}

.button {
    font-size: 16.8px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.button.button-primary {
    background-color: #ff6600;
    border: thin solid #ff6600;
    color: #fff;
}
  
.button.button-submit {
    width: 200px;
    height: 56px;
}
  
.button.button-subscribe {
    width: 100%;
    height: 56px;
}
  
.button.button-contact {
    width: 100px;
    height: 48px;
}
  
.button.button-more {
    width: 144px;
    height: 54px;
}
  
.button.button-contact:hover,
.button.button-primary:hover {
    background-color: #ff8533;
}
  
.button.button-transparent {
    width: 144px;
    height: 46px;
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}
  
.button.button-transparent.button__banner {
    width: 190px;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Number  */
.number {
    position: relative;
    margin-top: -70px;
    z-index: 1;
}
  
.number__item {
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05);
}
  
.number__item i {
    width: 68px;
    height: 68px;
    color: #fff;
    font-size: 28px;
    background-color: #ff6600;
    border-radius: 50%;
    line-height: 68px;
}
  
.number__item h2 {
    font-size: 36px;
    line-height: 46px;
}
  
.number__item h4 {
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #161c2db3;
    font-weight: 400;
}

/* Video  */
.bg-video{
    background: #fff;
}

.bg-video .video-info{
    background: url(../Dinner/images/banner3.jpg)  no-repeat center;
    -webkit-background-size: cover;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}

.bg-video .video-info .play-view{
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

.bg-video .video-info .play-view .video-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

/* Blog Post  */
.blog-post {
    background-color: #f7f7f7;
    margin-top: 5rem ;
}

.blog-post .blog-header {
    text-align: center;
}

.blog-post .blog-header p{
    color: #fe6a03;
    font-size: 1.5rem;
    font-family: Pacifico;
    padding-top: 3rem;
}

.blog-post .blog-header h2 {
    color: #000;
    font-size: 2.5rem;
    line-height: 1rem;
    margin-bottom: 2rem;
}


.blog-post .blog-cont .row img {
    width: 100%;
    height: 100%;
}

.blog-post .row .col .item {
    position: relative;
}

.blog-post .row .col .blog-icon i{
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 5px;
}

.blog-post .row .col .blog-icon span {
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
}

.blog-post .row .col .blog-icon p{
    padding: 5px 20px;
    background-color: #ff6600;
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    color: #f7f7f7;
    font-weight: bold   ;
    margin-right: 5px;
}

.blog-post .row .col .blog-icon {
    position: absolute;
    transform: translate(15px, -50px);
}

.blog-post .row .col .blog-text a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}

.blog-post .row .col .blog-text h1 {
    font-size: 2rem; 
}

.blog-post .row .col .blog-text p {
    color: #a4a9a8 ;
}

.blog-post .row .col .blog-info .img {
    margin-left: 0rem;
}

.blog-post .row .col .blog-info .text {
    margin-right: 0rem;
}

.blog-post .row .col .blog-info .img img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.blog-post .row .col .blog-info .img span {
    font-weight: bold;
    font-size: 15px;
}

.blog-post .row .col .blog-info .text a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.blog-post .row .col .blog-info  { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.blog-post .row .col .item .blog-img img {
    border-radius: 10px;
}

.blog-post .row .col .blog-info .text:hover a{
    color: #fe6a03;
    transition: all 0.5s;
}

/* Testimonials  */
.testimonials {
    background-color: #fff;
}

.testimonials .testimonials__content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.testimonials .testimonials__content .testimonials__header p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.testimonials .testimonials__content .testimonials__header h2{
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
}
.testimonials__item {
    width: 700px;
    margin: 0 auto;
}
  
.testimonials__item a {
    display: inline-block;
}
  
.testimonials__item a img {
    --square: 8.5rem;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.testimonials__item blockquote q {
    --font-height: 2.4rem;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    font-weight: 600;
}
  
.testimonials__item blockquote q::before {
    font-size: 50px;
    color: #ff6600;
    font-family: initial;
    display: block;
}
  
.testimonials__item > p {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;;
}
  
.testimonials__info h3 {
    --font-height: 2rem;
    font-size: 20px;
    line-height: 20px;
}
  
.testimonials__info p {
    --font-height: 1.6rem;
    font-size: 16px;
    line-height: 16px;
    color: #161c2db3;
}
  
.testimonials__body.owl-theme .owl-dots .owl-dot.active span {
    background-color: #ff6600;
}


/* Footer  */
.footer {
    background-color: #000;
}
.footer .container .item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
}

.footer .container {
    padding-top: 3rem;
}
  
.footer .container h2 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  
}
  
.footer .container .contact a {
    text-decoration: none;
}
  
.footer .container .contact h2 {
    font-size: 2rem;
    font-weight: bolder;
}
  
.footer .container .contact p {
    color: #899b9d;
    font-size: 1rem;
}
  
.footer .container .contact .foot-icon {
    margin-top: 2rem;
}
  
.footer .container .contact .foot-icon a {
    font-size: 1rem;
    color: #fe6a03;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
}
  
.footer .container .foot-link a {
    text-decoration: none;
    color: #899b9d ;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
}
  
.footer .container .subcribe p {
    color: #899b9d;
    font-size: 1rem;
}
  
.footer .container .subcribe input:focus {
    outline: 0;
    border: #fe6a03 solid 1px;
}
  
.footer .container .subcribe input {
    width: 100%;
    max-height: auto;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: transparent solid 1px;
}
  
.footer .container .subcribe .foot-btn{
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff6600;
    padding: 10px 30%;
    border: transparent solid 1px;
    transition: all 0.5s;
}
  
.footer .container .subcribe .foot-btn:hover {
    opacity: 0.8;
    border: transparent solid 1px;
}
  
.footer .container .coppy {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 1rem;
}
  
.footer .container .coppy a{
    text-decoration: none;
    color: #899b9d;
    font-size: 1.1rem;
}
   
.footer .container .coppy  .coppy-left {
    margin-left: 5px;
}
   
.footer .container .coppy  .coppy-right {
    margin-right: 15px;
}
  
.footer .container .coppy  .coppy-left p {
    color: #fff;
    font-size: 1.1rem;
}
  
.footer .container .coppy  .coppy-left a {
    color: #fe6a03;
  
}
  
.footer .container .coppy  .coppy-left a:hover {
    color: #fff;
    transition: all 0.5s;
}
  
.footer .container .coppy  .coppy-right a {
    margin-right: 2rem;
}
  
.footer .container .coppy  .coppy-right a:hover {
    color: #fe6a03;
    transition: all 0.5s;
}
  
.footer .backhome {
    padding: 15px 20px;
    color: #fff;
    font-size: 1rem;
    background-color: #fe6a03;
    border-radius: 50%;
    margin-right: 0;
}

/* For all mobile and tablet */

@media only screen and (max-width: 1023px) {
    .hide-on-mobile-tablet {
      display: none !important;
    }
  
    .stats {
      margin-top: 20px;
    }
}
  
/* For mobile only */
@media only screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
    /* Banner */
  .banner{
    height: 43px;
  }
  .banner__info{
    padding: 120px 0 40px;
  }
  .banner__info h2{
    --font-height: 3.2rem;
  }
  /* Info  */
  .info .info__item-right{
    padding: 46px 28px;
  }

  /* New  */
  .news__info{
    padding: 14px 24px !important;
  }
  .news__info a h4{
    --font-height: 1.8rem;
  }
  .news__info h6{
    margin-top: 6px !important;
  }
  .testimonials__item{
    width: 100%;
  }
    
}
  
/* For tablet only */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
      display: none !important;
    }
  
    .middle__top h2 {
      --font-height: 4.2rem;
      font-weight: 500;
    }
  
    .middle__buttons {
      margin-top: 4rem;
    }
}



























